@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 84vh;
    background: linear-gradient(to bottom, #fff6b7 0%, #f6416c 100%);
}
.container{
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 25px;
}
.container header{
    font-size: 30px;
    font-weight: 600;
}
.container .inputField{
    display: flex;
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
}
.inputField input{
    width: 85%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    outline: none;
}
.inputField button{
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #0396ff;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    opacity: .6;
    pointer-events: none;
}
.inputField button.active{
    opacity: 1;
    pointer-events: auto;
}
.container .todoList{
    max-height: 250px;
    overflow-y: auto;
}
.todoList li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}
.todoList li span{
    position: absolute;
    right: -45px;
    background: #e74c3c;
    color: #fff;
    width: 45px;
    text-align: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all .3s ease;
}
.todoList li:hover span{
    right: 0px;
}
.container .footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
}
.footer button{
    border: none;
    outline: none;
    background: #0396ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    transition: .2s;
}
.footer button:hover{
    background: #0072c4;
}